/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);

    @include mq(bp3) {
        @include padding-lr($columns-gutter*4,$columns-gutter*4);
    }

    //margin-left: 15rem;
}

.c-row--header {
    padding-bottom: 0;
    @include padding-lr($columns-gutter,$columns-gutter);

    @include mq(bp3) {
        @include padding-tb($alpha-leading * 2, 0);
    }

    //.o-container {
    //    max-width: none;
    //}
}

//.c-row--alpha {
//    background-color: palette(color-neutral,xxx-light);
//}
//
//.c-row--beta {
//    background-color: palette(color-alpha,dark);
//    color: palette(color-neutral,xxx-light);
//}
//
//.c-row--gamma {
//    background-color: palette(color-neutral,xx-dark);
//    color: palette(color-neutral,xxx-light);
//}

.c-row--lg {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
    }
}

.c-row--xl {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 4,$alpha-leading * 3);
    }

    @include mq(bp6) {
        @include padding-tb($alpha-leading * 6,$alpha-leading * 5);
    }
}

.c-row--xxl {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 6,$alpha-leading * 5);
    }

    @include mq(bp6) {
        @include padding-tb($alpha-leading * 10,$alpha-leading * 9);
    }
}

.c-row--empty {
    padding: 0;
}

.c-row--clear-tb {
    padding-top: 0;
    padding-bottom: 0;
}

.c-row--clear-top {
    padding-top: 0;
}

    .c-row__section {
        & + & {
            @include mq(bp3) {
                @include padding-top($alpha-leading * 2);
            }
        }
    }

    .c-row__section--xxl {
        & + & {
            @include mq(bp3) {
                @include padding-top($alpha-leading * 5);
            }

            @include mq(bp6) {
                @include padding-top($alpha-leading * 9);
            }
        }
    }

.c-row--cta {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
