/*
    Components: Header
    ---
    Site header stuff
*/

.c-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    //height: 2.675rem;
}
