/*
    Shame
    ---
    Hacks and quick fixes
*/

body {
    //&:before {
    //    content: '';
    //    display: block;
    //    position: absolute;
    //    top: 0;
    //    right: 0;
    //    height: 100vh;
    //    width: 100vw;
    //    background-color: palette(color-alpha);
    //}
}

.o-container {
    position: relative;
    width: 100%;
}

.c-intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 20;

    //@include mq(bp3) {
    //    min-height: calc(70vh - #{$alpha-leading * 5rem});
    //}
    //
    //@include mq(bp4) {
    //    min-height: calc(80vh - #{$alpha-leading * 5rem});
    //}
}

    .c-intro__content {
        max-width: 42em;
        margin: 0 auto;
    }

    .c-intro__title {
        text-align: center;
        color: palette(color-alpha,x-dark);
    }

    .c-intro__more {
        position: absolute;
        bottom: $alpha-leading * 1rem;
        left: 50%;
        transform: translateX(-50%);
        color: palette(color-neutral,xxx-light);
        max-width: $grid-max-width ;
        text-align: center;
        margin-bottom: 0;

        &:after {
            display: block;
            width: 1px;
            background-color: #fff;
            height: $alpha-leading * 1.5rem;
            position: absolute;
            bottom: $alpha-leading * -1.5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }



.c-timeline {
    position: relative;
}

    .c-timeline__intro {
        @include mq(bp4) {
            position: absolute;
            max-width: 40%;
            top: -.75rem;
            left: 0;
            z-index: 2;
        }
    }

    .c-timeline__item {
        position: relative;
        @include padding-bottom($alpha-leading);

        &:before {
            content: '';
            display: block;
            width: 1px;
            position: absolute;
            background-color: rgba(palette(color-neutral,xxx-dark),.1);
            top: 0;
            bottom: 0;

            @include mq(bp4) {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:first-of-type {
            &:before {
                top: 10px;
            }
        }

        &:last-of-type {
            padding-bottom: 0;

            &:before {
                //top: 10px;
                bottom: auto;
                height: 40px;
            }
        }


        @include mq(bp4) {
            display: flex;

            & + & {
                @include padding-top($alpha-leading);
            }
        }
    }

    .c-timeline__title {
        color: rgba(palette(color-neutral,xxx-dark),.95);
        @include text-dimensions($ms1,1);
    }

    .c-timeline__time {
        display: flex;
        align-items: center;
        align-self: flex-start;
        position: relative;
        color: rgba(palette(color-neutral,xxx-dark),.5);
        margin-bottom: 0;
        @include padding-lr($columns-gutter);
        @include text-dimensions($ms-1,1);

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 20px;
            border: 3px solid palette(color-neutral,xxx-light);
            background-color: palette(color-gamma);
            //box-shadow: 0 0 0 1px rgba(palette(color-neutral,xxx-dark),.15), 0 0 6px rgba(palette(color-neutral,xxx-dark),.15);
            box-shadow: 0 0 6px rgba(palette(color-neutral,xxx-dark),.15);
            left: -7px;
        }

        @include mq(bp4) {
            width: 50%;
            text-align: right;
            justify-content: flex-end;
            @include padding-lr($columns-gutter);

            &:before {
                left: auto;
                right: -7px;
            }
        }
    }

    .c-timeline__body {
        //color: rgba(palette(color-neutral,xxx-dark),.75);
        @include padding-lr($columns-gutter);

        @include mq(bp4) {
            width: 50%;
        }
    }

$picture-gutter: 5px;

.c-pictures {
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.c-picture {
    position: relative;
    width: 100%;
    background-color: palette(color-neutral,xx-light);
    //box-shadow: 0 0 0 $picture-gutter rgba(palette(color-neutral,xxx-light),1);
    box-shadow: 0 0 0 $picture-gutter rgba(palette(color-neutral,xxx-light),1), 0 10px 50px rgba(palette(color-neutral,xxx-dark),.125);

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0px solid white;
    }
}

    .c-picture__image {
        width: 100%;
        max-width: auto;
        position: relative;
        opacity: 0;
        transition: opacity $animation-duration-beta $animation-easing-alpha;

        &.is-loaded {
            opacity: 1;
        }
    }

.c-pictures--first {
    justify-content: center;

    .c-picture:nth-child(1) {
        max-width: 40%;
        z-index: 10;
        top: 25px;
        z-index: 30;
        right: -20px;
        transform: rotate(-2deg);

        @include mq(bp3) {
            top: 100px;
        }
    }

    .c-picture:nth-child(2) {
        max-width: 40%;
        z-index: 20;
        left: -20px;
        //left: $picture-gutter;
        transform: rotate(1deg);

        &:after {
            //padding-left: $picture-gutter;
            //border-width: 0 0 0 $picture-gutter;
        }
    }

    .c-picture:nth-child(3) {
        max-width: 60%;
        z-index: 50;
        margin-top: -200px;
        transform: rotate(-1deg);
        //top: $picture-gutter;

        //&:after {
        //    border-width: $picture-gutter 0 0 $picture-gutter;
        //}

        @include mq(bp4) {
            //max-width: $grid-max-width;
            //right: 50px;
        }

        @include mq(bp5) {
            //max-width: $grid-max-width;
            //right: -100px;
        }
    }
}

.c-pictures--second {
    //justify-content: flex-end;
    justify-content: center;

    .c-picture:nth-child(1) {
        max-width: 55%;
        z-index: 30;
        top: 100px;
        right: -20px;
        transform: rotate(-1deg);

        //@include mq(bp4) {
        //    max-width: $grid-max-width;
        //}
    }

    .c-picture:nth-child(2) {
        width: 35%;
        z-index: 20;
        transform: rotate(1deg);
        //margin-top: -200px;
        //right: -20px;

        //.c-picture__ratio:after {
            //border-width: $picture-gutter $picture-gutter 0 0;
        //}
    }

    .c-picture:nth-child(3) {
        width: 55%;
        z-index: 50;
        left: -20px;
        margin-top: -200px;
        transform: rotate(2deg);

        //.c-picture__ratio:after {
            //border-width: $picture-gutter 0 0 0;
        //}
    }
}

.s-content {
    h3 {
        color: rgba(palette(color-neutral,xxx-dark),.9);
    }
}

.c-section {
    position: relative;
}

.c-section--intro {
    //background-color: palette(color-alpha,light);
    background-image: linear-gradient(to bottom, palette(color-alpha,light), palette(color-beta,light));
}

.c-section--timeline {
    //background-color: palette(color-beta,x-light);
    background-image: linear-gradient(to bottom, palette(color-beta,light),palette(color-gamma,light));
}

.c-section--climate {
    //background-color: palette(color-gamma,light);
    background-image: linear-gradient(to bottom, palette(color-gamma,light),palette(color-neutral,xxx-light));
}

.c-section--vision {
    //background-color: palette(color-gamma,light);
    background-image: linear-gradient(to bottom, palette(color-neutral,xxx-light),palette(color-alpha,light));
}

.c-section--climate-vision {
    //background-color: palette(color-gamma,light);
    background-image: linear-gradient(to bottom, palette(color-gamma,light),palette(color-alpha,light));
    //background-image: linear-gradient(to bottom, palette(color-gamma,light) 0,palette(color-gamma,dark) 100%);
}

.c-section--cta {
    //background-color: palette(color-alpha,light);
    //background-color: palette(color-gamma,dark);
    //background-image: linear-gradient(to bottom, palette(color-alpha,light), palette(color-beta,light));
}
