---
layout: default
title: Homepage
section: home
---
<section class="c-row c-row--xxl c-row--xxl-top">
    <div class="c-row c-row--xxl">
        <div class="o-container">
            <div class="u-max-width-md u-align-horizontal u-text-center">
                <h1 class="u-ms7-bp3 u-color-alpha-dark">Een gewone school, maar toch helemaal anders. Ontdekkend leren vanuit de leefwereld van je kind.</h1>
            </div>
        </div>
    </div>
    <div class="c-row c-row--xxl">
        {% include components.pictures-1.html %}
    </div>
</section>
<section class="c-row c-row--xxl">
    <div class="c-row c-row--lg">
        <div class="o-container">
            <div class="u-max-width-md u-text-center u-align-horizontal">
                <h1 class="u-color-beta-base u-ms7-bp3">
                    Elke dag een nieuw verhaal: samen geschreven, vormgegeven en gepubliceerd.
                </h1>
            </div>
        </div>
    </div>
    <div class="c-row c-row--lg">
        <div class="o-container">
            <div class="c-timeline-holder">
                <div class="c-timeline">
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            8:00
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    Het onthaal op Klimop
                                </h2>
                                <p>
                                   We vinden het belangrijk dat niet alleen het kind naar school komt maar ook zijn verhalen. Daarmee willen we graag aan de slag. Ouders zijn dan ook meer dan welkom om dat te verhelderen. Vooral net voor of na schooltijd worden er veel nieuwtjes uitgewisseld. Een plezante ontmoeting in de klas, in de schapenstal of op de speelplaats…
                                </p>
                            </div>
                        </div>
                        <aside class="c-timeline__aside">
                            <p class="c-timeline__info">
                               Het is maandag en iedereen stroomt toe op de speelplaats. Het 3de kleuter gaat zwemmen dus blijven een aantal kleuterouders koffie drinken om straks de klas te vervoeren. Iemand draagt een echte veiligheidshelm, een kleuter heeft een rugzak vol verrassingen mee.
                            </p>
                        </aside>
                    </article>
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            8:40
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    De kring als vertrekpunt van de klaspraktijk
                                </h2>
                                <p>
                                   De kinderen kunnen ‘s morgens in de kring hun verhaal kwijt, tonen een voorwerp of tekening, lezen een (zelfgeschreven) tekst, vertellen over het nieuws,... Vanuit deze verhalen zoeken de kinderen samen met de leerkracht hoe die aanleiding kunnen zijn tot projecten, onderzoek, teksten, rekenverhalen, taalactiviteiten, creamomenten. Doorheen de jaren op Klimop ontwikkelen de kinderen een actieve luister- en spreekhouding in de kring. Ze worden ook geleidelijk aan voorbereid om de praatronde zelfstandig te leiden. Zo krijgen de kinderen de verantwoordelijkheid om vanuit eigen belevingen tot leerprocessen te komen.                                    </p>
                            </div>
                        </div>
                        <aside class="c-timeline__aside">
                            <p class="c-timeline__info">
                                Tijdens de praatronde vertelt een kind dat hij tijdens het weekend in de tuin een kampvuur heeft gemaakt en naar de sterren heeft gekeken. Een ander kind haakt daarop in en vertelt dat hij ooit in de sterrenwacht is geweest. Een derde verkondigt dat er een film was met ballonnen die helemaal tot aan de sterren konden vliegen.
                            </p>
                        </aside>
                    </article>
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            9:20
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    Taal en rekenen
                                </h2>
                                <p>
                                    Vertrekken vanuit de realiteit, daar gaat ‘t om op Klimop. Ook bij rekenen en taal willen we het zo aanpakken. Naast de methode, die een haalbaar compromis is, willen we zoveel mogelijk levend rekenen en taal binnen de klas halen. De koppeling van techniek en inhoud is van begin af aan belangrijk. De leerstof is veel levendiger en aantrekkelijker als ze vanuit de leefwereld van het kind vertrekt.
                                </p>
                            </div>
                        </div>
                        <aside class="c-timeline__aside">
                            <p class="c-timeline__info">
                                De ‘ruimte’ wordt meteen aangegrepen om de wiskundige vraagstukken van de dag te illustreren. Meters, kilometers en lichtjaren. We zoeken onophoudelijk naar de afmetingen van een ruimteveer en de afstand tussen de aarde en de maan.
                            </p>
                        </aside>
                    </article>
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            10:40
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    Speeltijd
                                </h2>

                            </div>
                        </div>
                    </article>
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            Doorlopend
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    (Individuele) Begeleiding bij specifieke problemen
                                </h2>
                                <p>
                                    De opvolging van de kinderen, zowel op cognitief als sociaal-emotioneel vlak, vindt bijna dagelijks plaats. Een toets of examen geeft onvoldoende weer wat iemand geleerd heeft en hoeveel iemand ondertussen gegroeid is. Elk kind heeft zijn eigen traject waarbij het totale kind (het de evolutie van welbevinden en betrokkenheid even belangrijk is als kennis. Een goede klasorganisatie en het toepassen van daaraan aangepaste opvolgingsmethoden maken het mogelijk de kinderen heel nauw te observeren en dit op een vlotte manier te registeren.
                                </p>
                            </div>
                        </div>
                        <aside class="c-timeline__aside">
                            <p class="c-timeline__info">
                                Sommigen knutselen een ruimtepak in elkaar, anderen toveren zichzelf om in een marsmannetje. We splitsen ons op in verschillende hoeken. Een groepje bouwt een sterrenhemel in de klas. Twee vriendinnen wagen zich aan een tekst over astronauten en onder impuls van de leerkracht krijgt een lege petfles een nieuw leven als raket.
                            </p>
                            <p class="c-timeline__info">
                                De leerkracht noteert haar bevindingen over de verschillende kinderen. Wie heeft welke rol binnen het project? Wie heeft er grote stappen gezet? Waarin moeten we volgende keer proberen uitdagen?
                            </p>
                        </aside>
                    </article>
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            12:00
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    Pauze
                                </h2>
                                 <p>
                                    Samen pauzeren is meestal fijner dan alleen. Bovendien maken pauzes deel uit van een werkdag. Daarom wordt er op Klimop ruim aandacht besteed aan deze klasmomenten. Tijdens de buitentijd respecteert iedereen de vooraf afgebakende speelzones. Afspraken die we als groep nemen zijn veel effectiever dan diegene die opgelegd zijn.
                                </p>
                            </div>
                        </div>
                        <aside class="c-timeline__aside">
                            <p class="c-timeline__info">
                                De pauze is er om uit te waaien. Het grote, groene domein stimuleert de exploratiedrang bij de kinderen. Na de speeltijd krijgt iedereen zijn gezonde hap en sap en kunnen de kinderen ondertussen genieten van een verhaal of bespreken we een probleem die voorkwam.
                            </p>
                        </aside>
                    </article>
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            13:10
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    Projecten en werkstukken
                                </h2>
                                <p>
                                    Kinderen hoeven geen wandelende encyclopedieën te worden, maar moeten vooral leren hoe ze de wereld op hun manier het beste kunnen onderzoeken. Ze ervaren die wereld ook niet als opgesplitst in vakken (aardrijkskunde, geschiedenis, verkeer,...) en dat willen we zo houden. Bij de kleuters en de eerste graad worden de projecten eerder klassikaal aangepakt . Naarmate de kinderen ouder worden, regelen ze meer dingen zelf. De freinetmethodiek vertrekt ook vanuit verschillende soorten intelligentie: sociale intelligentie, ruimtelijk inzicht, esthetisch aanvoelen, mentale kracht en motorisch vermogen. Iedereen heeft zijn eigen talenten, die hij of zij op een andere manier kan ontwikkelen.
                                </p>
                            </div>
                        </div>
                        <aside class="c-timeline__aside">
                            <p class="c-timeline__info">
                                Na de pauze gaat de werktijd verder. Het verhaal rond astronauten krijgt vorm, voor de raket moet er stevig worden samengewerkt. Iedereen krijgt een rol in de realisatie van het ruimtevaartuig. Het ontwerp is wel mooi, maar te zwaar voor lancering. We zoeken op hoe het anders kan, proberen uit, verfijnen het ontwerp en zorgen ervoor dat alle toekomstige ingenieurs in harmonie blijven verder bouwen.
                            </p>
                        </aside>
                    </article>
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            14:40
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    Speeltijd
                                </h2>
                            </div>
                        </div>
                    </article>
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            15:30
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    Een terugblik op de voorbije dag (of week)
                                </h2>
                                <p>
                                    Er is gedurende een hele dag samen gewerkt en geleefd. Er zijn prettige en misschien minder prettige dingen gebeurd. Het is dan ook goed om de dag samen op een goede manier af te sluiten. Teksten die gemaakt zijn worden voorgelezen, onderzoekjes worden voorgesteld, toneeltjes gespeeld, tekeningen geëxposeerd, afspraken die belangrijk zijn voor de volgende dag worden gemaakt,... Je leert het meest door betrokken te zijn bij het project, door zelf iets in handen te nemen.
                                </p>
                                <p>
                                    Succes stimuleert. Appreciatie voor het proces dat jij hebt doorgemaakt, zorgt ervoor dat je zin hebt om nog eens die leerervaring aan te gaan. Daarom zetten we om de 14 dagen de hele school samen: een forum vindt dan plaats in de arena, op een verdiep of ergens anders op het domein.
                                </p>
                            </div>
                        </div>
                        <aside class="c-timeline__aside">
                            <p class="c-timeline__info">
                                Wanneer de meeste deelprojecten vorm hebben, is het tijd om de vorderingen te delen met de klasgenoten. We filmen de raketlancering, het verhaal van de astronauten wordt verteld onder onze eigen binnen-sterrenhemel. Niet iedereen is helemaal tevreden, maar iedereen zag duidelijk hoe hun project is gegroeid doorheen de dag.
                            </p>
                            <p class="c-timeline__info">
                                Kinderen van andere klassen hebben de raket zien opstijgen. Ze komen vragen hoe het werkt en vooral of het nog eens kan. Het verhaal krijgt een mooi plekje onder de sterrenhemel. Elke keer ronden we de dag af onder ons geïmproviseerd hemelgewelf en tekenen we er nog één ster bij.
                            </p>
                        </aside>
                    </article>
                    <article class="c-timeline__item">
                        <p class="c-timeline__time">
                            16:00
                        </p>
                        <div class="c-timeline__body">
                            <div class="u-max-width-sm">
                                <h2 class="c-timeline__title">
                                    Einde van de dag
                                </h2>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="c-row c-row--xxl">
    <div class="o-container">
        <div class="u-max-width-md u-text-center u-align-horizontal">
            <h1 class="u-ms7-bp3 u-color-delta-base">
                Lijkt dat iets voor jullie?
            </h1>
            <p class="u-mb-delta">Op 18 februari kan je al je vragen stellen op de opendeurdag. </p>
            <p>
                <a href="https://www.facebook.com/events/180264842456058/" class="c-button c-button--gamma c-button--round c-button--shadow c-button--lg">
                   Meer over de opendeurdag
                </a>
            </p>
        </div>
    </div>
</section>
<section class="c-row c-row--xxl">
    <div class="c-row c-row--xxl">
        {% include components.pictures-2.html %}
    </div>
    <div class="c-row c-row--xxl">
        <div class="c-row c-row--lg">
            <div class="o-container">
                <div class="u-max-width-md">
                    <h1 class="u-color-gamma-dark u-ms7-bp3">
                       Samen school maken, want iedereen wil toch graag een goede school voor zijn kinderen.
                    </h1>
                </div>
            </div>
        </div>
        <div class="c-row c-row--lg">
            <div class="o-container">
                <div class="o-grid o-grid--gutter">
                    <div class="o-grid__item u-1-of-2-bp4">
                        <div class="u-max-width-sm s-content">
                            <p>
                                Samen school maken start door de ouders een welkom gevoel te geven. Ouders stoppen bij Klimop niet aan de schoolpoort maar zijn voor en na de lessen welkom in de klassen. Op die manier ontstaan er informele gesprekken met de leerkracht en andere ouders. Zo weten jullie altijd wat er gebeurt in de klas.
                            </p>
                            <p>
                                Vanuit de visie van freinetonderwijs nemen ouders een belangrijke plaats in. De school betrekt daarom de ouders zeer nauw bij het schoolleven, verder dan alleen de zorg voor het eigen kind. Er zijn veel mogelijkheden om als ouder actief deel te nemen aan het schoolleven, en dit op verschillende niveaus.
                            </p>
                            <p>
                                In de praktijk is dat soms een beetje puzzelen. Niet iedereen kan evenveel tijd vrijmaken,  maar als iedereen een steentje bijdraagt kunnen we zo bouwen aan een goede school. Eentje waar er begrip is voor ieders talenten én mening. Zo maken we echt samen school.
                           </p>
                        </div>
                    </div>
                    <div class="o-grid__item u-1-of-2-bp4">
                        <div class="u-max-width-sm s-content">
                            <h3>Op klasniveau</h3>
                            <ul class="o-list c-list-bullet">
                                <li class="c-list-bullet__item">Klasoverleg bijwonen</li>
                                <li class="c-list-bullet__item">Ateliers mee begeleiden</li>
                                <li class="c-list-bullet__item">Voeren naar zwemmen en sporten</li>
                                <li class="c-list-bullet__item">Helpen als leesouder</li>
                                <li class="c-list-bullet__item">Meegaan op uitstap</li>
                                <li class="c-list-bullet__item">Je talenten tonen als rolmodel (bijv. schrijnwerk, robots maken, fotografie,...)</li>
                                <li class="c-list-bullet__item">En nog zo veel meer…</li>
                            </ul>
                            <h3>
                                Op schoolniveau
                            </h3>
                            <ul class="o-list c-list-bullet">
                                <li class="c-list-bullet__item">Schooloverleg bijwonen</li>
                                <li class="c-list-bullet__item">Praktische klussen</li>
                                <li class="c-list-bullet__item">Thema-avonden</li>
                                <li class="c-list-bullet__item">Het schoolfeest en andere activiteiten</li>
                                <li class="c-list-bullet__item">Meedenken in een werkgroep</li>
                                <li class="c-list-bullet__item">Vrijwillige ouderbijdrage</li>
                                <li class="c-list-bullet__item">En nog zo veel meer…</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-row c-row--lg">
            <div class="o-container">
                <div class="u-max-width-md">
                    <h1 class="u-color-gamma-dark u-ms7-bp3">
                        Klaar voor het middelbaar?
                    </h1>
                </div>
            </div>
        </div>
        <div class="c-row c-row--lg">
            <div class="o-container">
                <div class="o-grid o-grid--gutter">
                    <div class="o-grid__item u-1-of-2-bp4">
                        <div class="u-max-width-sm s-content">
                            <p>
                                Is er wel genoeg structuur? Krijgen ze wel de juiste vakken? Kunnen ze terecht in het secundair onderwijs?
                            </p>
                            <p>
                                Freinetonderwijs heeft wel degelijk structuur. Er is een dagindeling, afspraken en regels. Deze worden soms geïnstalleerd door de school of leerkracht, maar liefst in samenspraak met ouders en kinderen. Zo worden deze structuren gedragen en dus beter nageleefd.
                            </p>
                        </div>
                    </div>
                    <div class="o-grid__item u-1-of-2-bp4">
                        <div class="u-max-width-sm s-content">
                           <p>
                                Alle traditionele leergebieden komen aan bod in projecten en werkstukken. We bekijken dit vakoverschrijdend en laten de kinderen zelf onderzoeken hoe het in elkaar zit. Daarbij focussen we vooral op samenwerken, info opzoeken en verwerken en ideeën presenteren. Zaken die erg belangrijk zijn in een verdere schoolcarrière.
                            </p>
                            <p>
                                Klimop heeft dezelfde eindtermen als andere scholen en krijgt zoals iedereen de inspectie over de vloer. Tieners kunnen vanuit een freinetschool gewoon doorstromen naar traditioneel secundair onderwijs, 20 generaties Klimopalumni zijn daar het bewijs van.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="c-row c-row--xxl c-row--xxl-bottom">
    <div class="c-row c-row--xxl ">
        {% include components.pictures-3.html %}
    </div>
    <div class="c-row c-row--xxl">
        <div class="o-container">
            <div class="c-row__section">
                <div class="u-max-width-md u-text-center u-align-horizontal">
                    <h1 class="u-ms7-bp3 u-color-alpha-x-dark">Genoeg gelezen, tijd om te ontdekken! Kom op 18 februari tussen 10 en 13u naar Klimop.</h1>
                    <p class="u-mb-delta">Spreek met ouders en leerkrachten, breng je kinderen mee en proef de school zelf.</p>
                    <p>
                        <a href="https://www.facebook.com/events/180264842456058/" class="c-button c-button--gamma c-button--round c-button--shadow c-button--lg">
                             Ontdek de details via Facebook
                        </a>
                    </p>
                </div>
            </div>
            <div class="c-row__section">
                <div class="u-max-width-md u-text-center u-align-horizontal s-content">
                    <p>
                        Freinetschool Klimop <br>
                        Fabiolalaan 2 <br>
                        8020 Oostkamp
                    </p>
                    <p>
                        050 39 69 79 <br>
                        <a href="mailto:info@klimop.info">info@klimop.info</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
