<figure class="c-pictures c-pictures--second u-mb-gamma">
    <div class="c-picture">
        <img class="c-picture__image js-blazy" src="img/photos/small/DSC_0254.jpg" data-src="img/photos/large/DSC_0254.jpg" alt="">
    </div>
    <div class="c-picture">
        <img class="c-picture__image js-blazy" src="img/photos/small/DSC_0129.jpg" data-src="img/photos/large/DSC_0129.jpg" alt="">
    </div>
    <div class="c-picture">
        <img class="c-picture__image js-blazy" src="img/photos/small/DSC_0622.jpg" data-src="img/photos/large/DSC_0622.jpg" alt="">
    </div>
</figure>
