<figure class="c-pictures c-pictures--first u-mb-gamma">
    <div class="c-picture">
        <img class="c-picture__image js-blazy" src="img/photos/small/DSC_3982.jpg" data-src="img/photos/large/DSC_3982.jpg" alt="">
    </div>
    <div class="c-picture">
        <img class="c-picture__image js-blazy" src="img/photos/small/2_24.jpg" data-src="img/photos/large/2_24.jpg" alt="">
    </div>
    <div class="c-picture">
        <img class="c-picture__image js-blazy" src="img/photos/small/2_47.jpg" data-src="img/photos/large/2_47.jpg" alt="">
    </div>
</figure>
