<nav class="c-nav-main js-nav">
    <ul class="o-list c-nav-main__list">
        <!-- Manually define homepage link -->
        <li class="c-nav-main__item">
            <a href="#" class="c-nav-main__link">Kinderen</a>
        </li>
        <li class="c-nav-main__item">
            <a href="#" class="c-nav-main__link">Ouders</a>
        </li>
        <li class="c-nav-main__item">
            <a href="#" class="c-nav-main__link">Leerkrachten</a>
        </li>
        <li class="c-nav-main__item">
            <a href="#" class="c-nav-main__link c-nav-main__link--cta">Opendeurdag 2016</a>
        </li>
    </ul>
</nav>

<button class="c-nav-main-trigger js-nav-trigger">
    {% include atom.symbol.html value="hamburger" %} Menu
</button>
