<figure class="c-pictures c-pictures--second">
    <div class="c-picture">
        <img class="c-picture__image js-blazy" src="img/photos/small/DSC_0258.jpg" data-src-small="img/photos/small/DSC_0258.jpg" data-src-medium="img/photos/medium/DSC_0258.jpg" data-src="img/photos/large/DSC_0258.jpg" alt="">
    </div>
    <div class="c-picture">
        <img class="c-picture__image js-blazy" src="img/photos/small/15.jpg" data-src-small="img/photos/small/15.jpg" data-src-medium="img/photos/medium/15.jpg" data-src="img/photos/large/15.jpg" alt="">
    </div>
    <div class="c-picture">
        <img class="c-picture__image js-blazy" src="img/photos/small/DSC_0622.jpg" data-src-small="img/photos/small/DSC_0622.jpg" data-src-medium="img/photos/medium/DSC_0622.jpg" data-src="img/photos/large/DSC_0622.jpg" alt="">
    </div>
</figure>
