<!-- Text colors -->
<h3>Greyscale colors</h3>
<div class="o-grid">
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-neutral-xx-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-neutral-x-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-neutral-light"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-neutral-base"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-neutral-dark"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-neutral-x-dark"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-neutral-xx-dark"></div>
    </div>
</div>
<!-- End text colors -->

<!-- UI colors -->
<h3>UI colors</h3>
<div class="o-grid">
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-alpha-base"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-alpha-dark"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-alpha-x-dark"></div>
    </div>
</div>
<div class="o-grid">
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-gamma-base"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-beta-base"></div>
    </div>
    <div class="o-grid__item u-1-of-2-bp2 u-1-of-8-bp4">
        <div class="c-swatch u-bgcolor-alpha-dark"></div>
    </div>
</div>
