<!DOCTYPE html>
<html>

{% include generic.head.html %}

<body class="c-page">

    {% include components.browser-alert.html %}
    <div class="c-page-header">
        {% include components.header.html %}
    </div>

{% comment %}
    <div class="c-page-top-cta">
        <a href="#!" class="c-button c-button--md c-button--gamma">
            Opendeurdag 2017
        </a>
    </div>
    {% endcomment %}

    <div class="c-page-main">
        {{ content }}
        {% comment %}
        {% include components.footer.html %}
        {% endcomment %}
    </div>

    {% include generic.javascript.html %}

</body>
</html>
